body{
    background-color:#195190FF;
    width: 100%;
    text-align: center;
}
/* ############ NAV BAR AND OVERALL STUFF ###### */
#toplinks{
    z-index: 1;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    top:0;
    width:100%;
    border-bottom-style: solid;
    height: 25pt;
    background-color: #195190FF;
    color:#A2A2A1FF;
    display:block;
    border-bottom:none;
}
#toplinks ul {
    position: relative;
    width:99%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#toplinks li{
    padding:5px;
}

#link{
    display:flex;
    position:relative;
    color:snow;
    text-decoration:none;
}
#link:hover{
    color: red;
}
#about{
    background-color:snow;
    min-width:960px;
    margin:0;
}
#experience{
    color: snow;
    width:100%;
    background-color:#195190FF;
}
#textbody{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top:-20px;
    width:100%;
    
}
#texttitle{
    min-width:960px;
    font-weight: 500;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* ################# INDEX #####################*/
#index{
    background-color: #195190FF;
    color:snow;
    width: 100%;
}
#indexphoto{
    max-width: 200px;
    max-height:200px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-right:auto;
    margin-left:auto;
}
#indexheader{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-color: #195190FF;
    color:snow;
}
#indexbody{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #195190FF;
    color:snow;
    text-align:center;
}
#logos{
    background-color: #195190FF;
    text-align:center;
}

.logocontainer{
    background-color: #195190FF;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    width:50px;
    padding-left: 5px;
    border-radius: 15px;
}
.logocontainer img{
    background-color: #195190FF;
    height:50px;
    width:50px;
    border-radius: 10px;
}

#images{
    background-color: #195190FF;
    text-align:center;
}
#resumebutton{
    margin:auto;
    text-align: center;
}
#resumebutton button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: snow;
    color: #195190FF;
    font-size: 16px;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 50%;
    border-color: black;
}
#resumebutton button:hover{
    color: snow;
    background-color: #195190FF;
}/* ################# EXPERIENCE #####################*/
#indexp{
    width: 50%;
    text-align:center;
    position:relative;
    flex-direction: column;
    min-width: 0px;
    display: table-row;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 9px;
}
#indexp img{
    float: left;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-radius: 9px;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}
#indexp header{
    color: black;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#indexp p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/* ################# PROJECTS #####################*/
#projects{
    font-family: Arial, Helvetica, sans-serif;
    background-color:snow;
}
#projectsrow{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    display:table;
    border-spacing: 1em;
}
#indproj{
    width: 50%;
    text-align:center;
    position:relative;
    flex-direction: column;
    min-width: 0px;
    display: table-row;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 9px;
}
#indproj img{
    float: left;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-radius: 9px;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}
#indproj header{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#indproj p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/* ################# NAV BAR STYLING #####################*/