<!DOCTYPE html>
<html lang="en">

<head>
    <title>Aaron Kelley</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="toplinks">
        <div id="left">
            <ul>
                <li><a href="/">Aaron Kelley></a></li>
            </ul>
        </div>
        <div id="right">
            <ul>
                <li><a href="/about/">About Me</a></li>
                <li>
                    <div class="inner_border"></div>
                </li>
                <li><a href="/experience/">Experience</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="aboutbody">
        <p>About Me</p>
        <p>
            My name is Aaron Kelley and I'm a junior studying Computer Science Engineering at the University of Michigan in Ann
            Arbor. I currently live in Ann Arbor, and grew up 45 minutes east in Troy, Michigan. Originally coming to Michigan
            to study Aerospace Engineering, I fell in love with computer science freshman year and never looked back. I love
            the opportunity computer science gives me think creatively to solve problems that I am excited about.
        </p>
        <p>
            Outside of class, I love skiing, camping, sports, and outdoor education.
        </p>
        <p>
            Thank you so much for visiting my page. Please feel free to reach out to me!
        </p>
    </div>
</body>